<component name="libraryTable">
  <library name="logback-classic-1.5.18">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/day11-special-files-log-code/lib/logback-classic-1.5.18.jar!/" />
      <root url="jar://$PROJECT_DIR$/day11-special-files-log-code/lib/logback-core-1.5.18.jar!/" />
      <root url="jar://$PROJECT_DIR$/day11-special-files-log-code/lib/slf4j-api-2.0.17.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>